/**
* @name Nightly
* @version Auto Update
* @description Based on the Neutron theme
* @author ArtGamer
*/
@import url("https://codedotspectra.github.io/themes/themes-cores/neutron8.css");
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');
@import url('https://fonts.googleapis.com/css2?family=Raleway');
:root {
--themeColor1: #0090A2FF;
--themeColor2: #2E4474FF;
--customFont: 'Raleway';
--homeImage: url('https://icon-library.com/images/moon-icon-png/moon-icon-png-4.jpg');
--homeImageSize: contain;
--backgroundColor: #0d0d0d;
--backgroundImage: url('https://cdn.shopify.com/s/files/1/0012/8889/6601/products/web3997.jpg');
--backgroundPosition: center;
--backgroundSize: cover;
--backgroundRepeat: repeat;
--backgroundBlur: 0px;
--backgroundOpacity: 0.3;
--rs-small-spacing: 2px;
--rs-medium-spacing: 3px;
--rs-large-spacing: 4px;
--rs-small-width: 2px;
--rs-medium-width: 3px;
--rs-large-width: 4px;
--rs-avatar-shape: 50%;
--rs-online-color: #43b581;
--rs-idle-color: #faa61a;
--rs-dnd-color: #f04747;
--rs-offline-color: #636b75;
--rs-streaming-color: #643da7;
--rs-invisible-color: #747f8d;
--rs-phone-visible: block;
}